.agent {
  min-height: 342px;
  background: url('../../img/second-bg.jpg') center (center/cover) no-repeat;
  padding-top: 58px;
  text-align: center;
  &__round {
    width: 102px;
    height: 102px;
    border: 1px solid white;
    border-radius: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    &_img {
      margin-top: -5px;
    }
  }
  &__subtitle {
    color: #ffffff;
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
  }
  &__descr {
    color: #ffffff;
    font-size: 19px;
    font-weight: 300;
    margin-top: 22px;
    padding: 0 50px;
  }
}